<%- include("../partials/layout-start", {title: title}) %>
<%- include("../partials/layout-menu") %>

<form action="login" method="post">
    <div>
        <label>Username:</label>
        <input type="text" name="username" /><br />
    </div>
    <div>
        <label>Password:</label>
        <input type="password" name="password" />
    </div>
    <div>
        <input type="submit" value="Submit" />
        <a href="/users/signup">Регистрация</a>
    </div>
</form>

<%- include("../partials/layout-end") %>